.projectsContainer {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color: #fcfcfc;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.projectsHeader{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5em;
  font-weight: 500;
  margin-left: 20vw;
}

.projectsHeaderContainer{
  padding: 10px;
  border-radius: 50px;
  margin-top: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
  width:110vw;
  height: 20vh;
  background-color: #a7d4d2;

}

.projects {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  height: 100%;
  background-color: #fcfcfc;
  width: 96vw;
  position: relative;
  transition: width 0.5s ease;
  justify-content: center;
  align-items: center;
  padding-bottom:25px;
  overflow: hidden;
  padding-bottom: 10px;
  max-width: 1200px;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  width: 96%;
  transition: background-color 0.3s, box-shadow 0.3s;
  height: 70vh;
  max-height: 1000px;
  min-height: 600px;
  max-width: 1200px;
  overflow: hidden;
}

.project.left .picProject {
  order: 1;
}

.project.left .descProject {
  order: 2;
}

.project.right .picProject {
  order: 2;
}

.project.right .descProject {
  order: 1;
}

.picProject, .descProject {
  flex: 1;
  height: 100%;
}

.picProject {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picProject img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descProject {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

.projectName {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
  padding: 20px;
}

.projectDescription{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  position: relative;
}

.descProjectContainer {
  background-color: rgb(235, 235, 235);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  position: relative;
}

.projectLinks {
  position: absolute;
  top: 40px;
  display: flex;
  gap: 15px;
  font-size: .7em !important;
}

.project.left .descProjectContainer .projectLinks {
  right: 20px;
}

.project.right .descProjectContainer .projectLinks {
  left: 20px;
}

.projectLinks a {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  transition: color 0.3s;
}

.projectLinks a:hover {
  color: rgb(143, 143, 143);
}