/* 

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
} */

/* Apply to the entire document */
html {
  scrollbar-width: auto;
  scrollbar-color: #777777 #ececec; /* Firefox */
}

/* WebKit browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height of the scrollbar for horizontal scrolling */
}

html::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

html::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

/* Ensure the scrollbar is always visible */
body {
  overflow: scroll;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  html, body {
    overflow: auto;
  }

  body {
    overflow-x: auto;
  }

  ::-webkit-scrollbar {
    display: block; /* Chrome, Safari, Opera */
  }

  ::-webkit-scrollbar-button {
    display: block;
  }

  a, button {
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
  }
}